      <div class="title">
        <h1>Burgers at Your Service!</h1>
        <img src="/assets/img/burger2.jpg" alt="burger">
      </div>

      <div class="eaten">
        <h2>Burgers that are ready to be eaten!</h2>

          <ol>
            {{#each burgers}}
              {{#unless devoured}}
                {{>burgers/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ol>
       </div>
      <div class="devoured">
        <h2>Burgers that are devoured!</h2>
          <ol>
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
                {{/if}}
              {{/each}}
          </ol>
      </div>
  
  
  <div class="add">
    <h2>Add a Burger!</h2>

      <form class="create-form">
          <div class="form-group">
              <label for="burg">Burger Name:</label>
              <input type="text" id="burg" name="name">
          </div>

          <button class="add-burger">Add Burger</button>
      </form>
  </div>
</container>
</html>

<!--Profile: https://ralracish.github.io/Bootstrap-Portfolio/portfolio.html-->